.logo {
    color: ivory
}

.header {
    background-color: #0c5460
}

.dropdown {
    color: black
}

.credits {
    color: wheat;
    font-weight: bold;    
}

.login {
    color: white
}

.navbar-dark .navbar-nav .nav-link {
    color: aliceblue
}