/* div {
    height: 100%;
  }
  
  .bg { 
    
    background-image: url("img_girl.jpg");
  
    
    height: 100%; 
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  img {
    width: 100%
  }